# Ignore application profile files in src/main/resources
src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/bootstrap.yml
src/main/resources/*.yml

# Ignore environment files
.env
*.env

# Ignore build folders
target/
build/

# Ignore IDE files (e.g., for IntelliJ IDEA, VSCode, etc.)
.idea/
*.iml
.vscode/

# Ignore log files
*.log
