# Ignore application profile files
application.properties
application.yml
application-dev.yml
application-prod.yml
bootstrap.yml

# Ignore environment files
.env
*.env

# Ignore build folders
target/
build/

# Ignore IDE files (e.g., for IntelliJ IDEA, VSCode, etc.)
.idea/
*.iml
.vscode/

# Ignore log files
*.log
